/* ======================
---- HEADER -----
=======================*/

body {
    display: flex;
    flex-direction: column;
    font: sans-serif;
    margin: 0;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    margin-right: 16px;
}

.header > div {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

section > div {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
    flex-wrap:  wrap;
}

.header, .first-box {
    background-color: #1f2937;

}

a, .first-box-header-text {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* ======================
---- First Box-----
=======================*/

button {
    color: white;
    font-weight: 900;
    padding: 8px 16px;
    width: 96px;
    border: 1px #3382f6;
    border-radius: 8px;
    background-color: #3882f6;
}


h1,p {
    margin: 0;
}

.first-box > div {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 120px;
    flex-direction: row-reverse;
    gap: 20px;
}

.media {
    display: flex;
    align-items: center;
    flex: 1;
}

.first-box-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first-box-header {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin-right: 12px;
}

button.first-box-button {
    margin-top: 12px;
}

.media img {
    border-radius:  12px 72px;
    width: 100%;
    min-width: 400px;
}

/* ======================
---- Second Box-----
=======================*/

.second-box {
    padding-bottom: 150px;
}

.second-box-header {
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 48px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card-pack {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-pack > div {
    border: 4px solid #3382f6;
    display: flex;
    flex-direction: column-reverse;
    height: 150px;
    width: 150px;
    border-radius: 16px;
}

.card-pack > p {
    margin-top: 8px;
    display: flex;
    text-align: center;
    width: 150px;
    font-size: 18px;
    color: #59626f;
}

/* ======================
---- Third Box-----
=======================*/

.third-box {
    background-color: #e5e7eb;
}

.third-box > div {
    margin-top: 120px;
    margin-bottom: 120px;
}

.quote {
    color: rgb(59,67,80);
    font-size: 26px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: lighter;

}

.quote-reference {
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 16px;

}

/* ======================
---- Fourth Box-----
=======================*/

.fourth-box-content {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    margin: 100px 0;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
}

.fourth-box-content span {
    font-size: 24px;
    font-weight: bolder;
}

.fourth-box-content button {
    transition-duration: 0.3s;
    border: 2px solid white;
    width: 120px;
}

.fourth-box-content button:hover {
    background-color: #1b5ac0;
}

/* ======================
---- Footer Box-----
=======================*/

.footer {
    background-color: #1f2937;
}

.footer div {
    display: flex;
    color: white;
    justify-content: center;
    padding: 36px 0;

}